/* 기본 리셋 및 폰트 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* 전체 배경 및 레이아웃 설정 */
body {
    background-color: #101013;
    color: #fff;
    line-height: 1.6;
}

/* 헤더 스타일 */
header {
    background: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2em;
    margin-top: 20px;
}

/* 컨테이너 및 메인 레이아웃 */
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #20232a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 인기 종목 테이블 스타일 */
.popular-stocks {
    margin-top: 20px;
}

.popular-stocks table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* 테이블을 가운데 정렬 */
}

.popular-stocks th, .popular-stocks td {
    padding: 10px;
    font-size: 12px;
    border: none; /* 테두리 제거 */
    text-align: center;
}

.popular-stocks th {
    background-color: #2c2f36;
}

/* 첫 번째 항목 위에만 선 추가 */
.popular-stocks tr:first-child td {
    border-top: 2px solid #444; /* 첫 번째 행 위에만 선 추가 */
}

/* 기본 스타일 */
.change-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    vertical-align: middle;
    margin-right: 5px;
}

/* 상승 아이콘과 텍스트 스타일 */
.text-success {
    color: #F04251; /* 상승 시 텍스트 빨간색 */
}

.text-success .change-icon.up {
    border-bottom: 10px solid #F04251; /* 빨간색 삼각형 */
}

/* 하락 아이콘과 텍스트 스타일 */
.text-danger {
    color: #3485FA; /* 하락 시 텍스트 파란색 */
}

.text-danger .change-icon.down {
    border-top: 10px solid #3485FA; /* 파란색 삼각형 */
}

/* 페이지네이션 스타일 */
#pagination {
    margin-top: 1em;
    text-align: center;
}

.pagination-button {
    background-color: #2c2f36; /* 배경색을 배경보다 약간 어두운 색으로 설정 */
    color: #fff; /* 텍스트 색상 */
    border: none;
    border-radius: 20px; /* 동그란 모양 */
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    font-size: 16px;
}

.pagination-button:hover {
    background-color: #1a1d21; /* 호버 시 더 어두운 색상 */
}

.pagination-button:focus {
    outline: none; /* 포커스 시 기본 테두리 제거 */
}

/* 모바일 버전 스타일 */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* 폰트 크기 줄이기 */
    }

    .container {
        padding: 10px;
        margin: 10px;
    }

    .popular-stocks table {
        width: 100%;
        border-collapse: collapse; /* 기본 테이블 레이아웃 유지 */
    }

    /* 숨길 열 스타일 */
    .popular-stocks th,
    .popular-stocks td {
        display: table-cell;
    }

    .popular-stocks th,
    .popular-stocks td {
        display: none; /* 기본적으로 모든 열 숨기기 */
    }

    /* 필요한 열만 표시하기 */
    .popular-stocks th:nth-child(1),
    .popular-stocks td:nth-child(1),
    .popular-stocks th:nth-child(2),
    .popular-stocks td:nth-child(2),
    .popular-stocks th:nth-child(3),
    .popular-stocks td:nth-child(3),
    .popular-stocks th:nth-child(4),
    .popular-stocks td:nth-child(4),
    .popular-stocks th:nth-child(5),
    .popular-stocks td:nth-child(5) {
        display: table-cell; /* 필요한 열 표시하기 */
    }

    .popular-stocks th:nth-child(n+6),
    .popular-stocks td:nth-child(n+6) {
        display: none; /* 6번째 열 이후 숨기기 */
    }
}

/* 버튼 그룹 스타일 */
.button2 {
    width: 150px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #3f51b5;
    color: #ffffff;
    margin-top: 30px;
    margin-right: 50px; /* 버튼 간 간격 조정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    line-height: 1; /* 텍스트 높이 조정 */
}

.button2 span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.button2:hover span {
    color: #ffffff;
}

.button2::before,
.button2::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.button2::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button2:hover::before {
    transform: translate3d(100%, 0, 0);
}

.button-group {
    display: flex;
    justify-content: center;
    position: relative; /* 원하는 위치로 조정 */
}

.button-group ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.button-group li {
    margin: 0 10px; /* 버튼 간 간격 */
}

/* From Uiverse.io by mrhyddenn */ 
.button {
    display: flex;
    margin-left: 16%;
  }
  
  .box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: #3f51b5;
    overflow: hidden;
  }
  
  .box:before {
    content: "M";
    position: absolute;
    top: 0;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
  }
  
  .box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'I';
  }
  
  .box:nth-child(3)::before {
    content: 'N';
  }
  
  .box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'F';
  }
  
  .box:nth-child(5)::before {
    content: 'O';
  }
  
  .button:hover .box:before {
    transform: translateY(0);
  }

  /* 네비게이션 스타일 */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3f51b5;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #2c387e;
}

.chart-button {
    padding: 10px 20px;
    margin: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    width: 100px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.chart-button:hover {
    background-color: #2c387e;
}

/* 이미지 컨테이너 설정 */
#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 300px; /* 필요에 따라 조정 */
}

/* 차트 이미지 설정 */
.chart-image {
    display: none; /* 기본으로 이미지를 숨깁니다 */
    max-width: 100%;
    height: 70%;
    filter: invert(100%); /* 색상 반전 */
}

/*TOP 20 제목 스타일*/
.toph2 {
    margin-top: 10px;
}

/*한글 폰트*/
.ibm-plex-sans-kr-regular {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /*푸터 디자인*/
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }